@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=IM+Fell+DW+Pica+SC&family=IM+Fell+DW+Pica:ital@0;1&display=swap');

body {
  font-family: 'IM Fell DW Pica', serif;
  font-size: large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  font-family: 'IM Fell DW Pica SC', serif;
  color: #8b0000;
  font-size: 3.5rem;
  margin: auto;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-family: 'IM Fell DW Pica SC', serif;
  font-weight: normal;
  color: #8b0000;
  font-size: 3rem;
  border-bottom: 3px solid #8b0000;
  margin-bottom: 0px;
}

h3 {
  font-family: 'IM Fell DW Pica SC', serif;
  font-weight: normal;
  font-size: 2.5rem;
  color: #8b0000;
  margin-bottom: 10px;
}

h4 {
  font-family: 'IM Fell DW Pica', serif;
  font-weight: normal;
  font-style: italic;
  font-size: 2rem;
  color: #8b0000;
}

h5 {
  font-family: 'IM Fell DW Pica', serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.5rem;
  color: #8b0000;
}

h6 {
  font-family: 'IM Fell DW Pica', serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.35rem;
  color: #8b0000;
}

b,
strong,
th {
  color: #8b0000;
  font-family: 'IM Fell DW Pica SC', serif;
  font-weight: bolder;
}

a {
  color: #8b0000;
  text-decoration: none;
}

table {
  border: 3px solid #8b0000;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid #8b0000;
  padding: 5px;
}

pre {
  overflow-y: hidden;
  padding-left: 2rem;
}

code {
  color: black;
  font-family: 'Syne Mono', monospace;
}

.has-dropcap:first-letter {
  font-family: 'IM Fell DW Pica SC', serif;
  float: left;
  font-size: 4rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0;
  color: #8b0000;
}
