.sketchy,
blockquote {
  border: 2px solid var(--color-primary);
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  position: relative;
  margin: 1rem;
  padding: 0.5rem 1rem;

  &::before {
    content: '';
    border: 2px solid var(--color-primary);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}
